.elyra-logo {
    width: 200px;
    right: 10px;
    position: absolute;
}
.hackclub-logo {
    width: 200px;
    right: 200px;
    position: absolute;
}

body{font:Arial;
color:white;

background-color: #000000;}

h2 {color:#e0e2f7;
}

h3 {color: #ece9f1;
}

h4 {color: #c8c7cc;
}

h5 {color: #9f9da5;
}

h6 {color: #a6a6a7;
}